body{
	padding:0;
	margin:0;
}
body,html{
	height: 100%;
	overflow: hidden;
}
.RoomBox{
  width:100%;
  height: 100%;
  background: url(../images/bj1.jpg) no-repeat;
  background-size:100% 100%;
  overflow: hidden;
  position: relative;
  /*display: none;*/
  margin:0 auto;
}
.heart{
	width: 30px;
	height: 30px;
	/*background: blue;*/
	text-align: center;
	line-height: 30px;
	font-size: 24px;
	color: red;
	position: absolute;
	z-index: 999;
	animation: flyHeart 3s linear forwards;
  -moz-animation:flyHeart 3s linear forwards; /* Firefox */
  -webkit-animation:flyHeart 3s linear forwards; /* Safari and Chrome */
  -o-animation:flyHeart 3s linear forwards; /* Opera */
}
@keyframes flyHeart{
	0% {
        transform:translateY(0);
        opacity: 1;
    }
    50% {
        transform:translateY(-100px);
        opacity:0.5;
    }
    90% {
    	transform:translateY(-130px);
        opacity:0.1;
    }
    100% {
    	transform:translateY(-130px);
       	opacity:0;
       	display: none;
    }
}
@-moz-keyframes flyHeart{
  0% {
        transform:translateY(0);
        opacity: 1;
    }
    50% {
        transform:translateY(-100px);
        opacity:0.5;
    }
    90% {
      transform:translateY(-130px);
        opacity:0.1;
    }
    100% {
      transform:translateY(-130px);
        opacity:0;
        display: none;
    }
} 
@-webkit-keyframes flyHeart{
  0% {
        transform:translateY(0);
        opacity: 1;
    }
    50% {
        transform:translateY(-100px);
        opacity:0.5;
    }
    90% {
      transform:translateY(-130px);
        opacity:0.1;
    }
    100% {
      transform:translateY(-130px);
        opacity:0;
        display: none;
    }
}
@-o-keyframes  flyHeart{
  0% {
        transform:translateY(0);
        opacity: 1;
    }
    50% {
        transform:translateY(-100px);
        opacity:0.5;
    }
    90% {
      transform:translateY(-130px);
        opacity:0.1;
    }
    100% {
      transform:translateY(-130px);
        opacity:0;
        display: none;
    }
}

.totalMessage{
	position: absolute;
	height: 300px;
	bottom: 0;
	left:0;
	right:0;
	display: none;
}
.messageBox{
	height:100px;
	position: absolute;
	left:0px;
	right:0px;
	bottom: 200px;
}
.messageBox2{
	bottom: 100px;
}
.messageBox3{
	bottom: 0px;
}
.daughter{
	width:80px;
	height:80px;
	position: absolute;
	left:30px;
	top:10px;
	border-radius: 50%;
}
.message{
	width:150px;
	height: 30px;
	background: #FF7474;
	/*border:1px solid blue;*/
	border-radius: 3px;
	position: absolute;
	left:130px;
	top:35px;
}
.message:after, .message:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    top: 100%;
    position: absolute;
    width: 0;
}

.message:after {
    border-width:5px;
    border-right-color: #FF7474;
    left:-9px;
    top:10px;
}
.messageBox2 .message{
	background: #DAEF88;
}
.messageBox3 .message{
	background: #6E9CE1;
}
.messageBox2 .message:after {
    border-right-color: #DAEF88;
}
.messageBox3 .message:after {
    border-right-color: #6E9CE1
}
.messageBox2 .daughter,.messageBox2 .message{
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.messageBox3 .daughter,.messageBox3 .message{
	animation-delay:2s;
	-webkit-animation-delay:2s;
}
.GiftBox{
	/*width:100%;*/
	height: 500px;
	position: absolute;
	left:50%;
	bottom:50px;
	z-index: 3;
  margin-left: -137px;
	animation-duration:5s;
	-webkit-animation-duration:5s; /* Safari 和 Chrome */
}
.openGift{
	width: 120px;
	height: 30px;
	background: #fff;
	border:1px solid #F5D198;
	border-radius: 3px;
	margin:0 auto; 
	position: absolute;
	bottom:80px;
	left:0;
	right:0;
	color: #4B4646;
	text-align: center;
	line-height: 30px;
	z-index: 4;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite; /* Safari 和 Chrome */
}
.careBox{
	position: absolute;
	width: 220px;
	height: 220px;
	background: rgba(224,91,123,0.5);
	border-radius: 50%;
	/*bottom:120px;*/
	top:45%;
	left:50%;
	margin-left: -110px;
}
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 82px;
  left: 50%;
  margin-left: -2.5px;
  /*margin-top: -8.33333333px;*/
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-600px);
  -ms-transform: translateY(-600px);
  transform: translateY(-600px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 600ms 6s ease-out forwards;
  animation: in 600ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#cake {
  display: block;
  position: relative;
  margin: -300px auto 0 auto;
}
.Blessings{
	position: absolute;
	/*bottom:20px;*/
	top:35%;
	left:0;
	right:0;
	font-size:16px;
	display: none;
}
.Blessings .happy{
	height:50px;
	background: url(../images/1.png) no-repeat;
  background-size:100% 100%;
	animation-delay:5s;
	-webkit-animation-delay:5s;
}
.Blessings .evryDay{
	padding:0 10px;
	background-image: -webkit-linear-gradient(left, #FF8383 10%, #FFE081 30%,
            #ACD564 50%, #86BCFA 70%, #FAC486 80%, #ffd400 90%, #A286FA);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation-delay:5.5s;
	-webkit-animation-delay:5.5s;
}
.Blessings .name{
	padding:0 10px;
	font-size: 14px;
	float: right;
	line-height: 30px;
	color: #646262;
	animation-delay:5.5s;
	-webkit-animation-delay:5.5s;
}

/*swiper*/
.swiper-box{
    max-width:414px;
    width: 100%;
    max-height:736px; 
    height: 100%;
    margin:0 auto;
    position: relative;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-slide {
    font-size: 18px;
    background:#fff;
  position:relative;
  }
  .nextPage{
    width:2rem;
    height:2rem;
    /*background:rgba(0,0,0,0.3);*/
    border-radius: 50%;
    position: absolute;
    bottom:1rem;
    left:50%;
    margin-left: -1rem;
    z-index:999;
    font-size: 20px;
    line-height: 2.5rem;
    text-align: center;
    animation-iteration-count:infinite;
  }
  
  .slide1{
  background:url(../images/timg1.jpg) no-repeat;
  background-size:100% 100%;
}
  .slide2{
    width: 100%;
    height: 100%;
    background:url(../images/timg21.png) no-repeat;
  background-size:100% auto;
    /*background: #fff;*/
    position:absolute;
    top:0;
    left:0;
}
.slide2 .backg{
  width: 70%;
  height:auto;
  position: absolute;
  bottom:3%;
  right:0;
}
.swiper-slide:nth-of-type(3){
  background: linear-gradient(#50C9F0, #fff);
}
.slide3{
    width: 100%;
    height: 100%;
    background:url(../images/timg3.png) no-repeat;
  background-size:100% auto;
    position:absolute;
    top:0;
    left:0;
}

  .Nightext{
    width: 100%;
    height: auto;
    position: absolute;
    left:10px;
    z-index: 2;
  }
  .Nightext1{
  top:33%;
  }
  .Nightext2{
  top:52%;
  }
  .Nightext3{
  top:60%;
  }
  .lx1{
    width:100%;
  height: auto;
    position: absolute;
    top:38%;
    left:0px;
  }
  .lx2{
    width:100%;
  height: auto;
    position: absolute;
    top:43%;
    left:0px;
  }
  .lx3{
    width:100%;
  height: auto;
    position: absolute;
    top:48%;
    left:0px;
  }
  .lx4{
    width:100%;
  height: auto;
    position: absolute;
    top:53%;
    left:0px;
  }
  
.redenvel_main{
  width:100%;
  height: 100%;
  background: url(../images/bj2.png) no-repeat;
  background-size:100% auto;
  position: relative;
  overflow: hidden;
}
.redenvel_item{
  position: absolute;
  top:-20px;
}
.redenvel_item img{
  width: 100%;
  height: auto;
}
.ceshi{
  width:143px;
  height:143px;

}
.ceshi .iconfont{
  font-size: 143px;
}
.icon-dangaosolid{
  color: #ED87AC;
}
.icon-dangao{
  color: #EA2E48;
}
.icon-icon-test{
  color: #D1B68A;
}
.count{
  width:100px;
  height: 100px;
  font-size: 50px;
  position: absolute;
  right:10px;
  top:10px; 
}
.pinkBack{
  /*background: #FC9DCE;*/
  background: -webkit-linear-gradient(#FC9DCE, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FC9DCE, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FC9DCE, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FC9DCE, #fff); /* 标准的语法（必须放在最后） */
    position: relative;
}
.redenvel_title{
  width: 80%;
  position: absolute;
  top:35%;
  margin-left:10%;
}
.redenvel_title img{
  width: 100%;
  height: auto;
}
.redenvel_count{
  width: 50px;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top:50%;
  left:50%;
  color: #fff;
  margin-left: -25px;
  animation-iteration-count:infinite;
}
.diyPrompt{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index: 999;
  display: none;
}
.LuckyPrompt{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index: 999;
}
.prompt_main{
  width: 80%;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top:50%;
  margin-top: -55px;
  margin-left: 10%;
  font-size: 14px;
}
.prompt_main .close{
  position: absolute;
  top:5px;
  right:10px;
  font-size: 18px;
}
.prompt_main_title{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  padding:0 10px;
  font-weight:600;
  color: #666060;
  box-sizing: border-box;
}
.prompt_main_cont{
  width: 100%;
  height:80px;
  line-height:30px;
  padding:10px;
  box-sizing: border-box;
}
.rightFont{
  width:50px;
  height:50px;
  background: url(../images/fd1.png) no-repeat;
  background-size: auto 100%;
  position: absolute;
  right:0;
  bottom:0; 
}
.Luckynum{
  width: 230px;
  text-align: center;
  position: absolute;
  font-size:20px;
  top:45%;
  left:50%;
  color: #fff;
  margin-left: -115px;
  display: none;
}
.Luckylook{
  width:100px;
  height:100px;
  background: url(../images/fd1.png) no-repeat;
  background-size: auto 100%;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -50px;
  display: none;
  animation-iteration-count:infinite;
  z-index: 90;
}
.LuckylistBox{
  width:90%;
  max-height:80%;
  background: #fff;
  border-radius: 3px;
  padding:50px 10px 10px 10px;
  position: absolute;
  top:50%;
  left:5%;
  box-sizing: border-box;
}
.Lucky_title{
  width: 100%;
  height:40px;
  line-height:40px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #F05550;
  position:absolute;
  top:0;
  left:0;
  z-index: 3;
}
.Lucky_title .close{
  position: absolute;
  top:0px;
  right:10px;
  font-size: 18px;
}
.Luckylist{
  width:100%;
  list-style:none;
  font-size:14px;
  margin:0px;
  padding:0px;
  /*overflow-y:scroll;*/
}
.Luckylist li{
  list-style: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}
.Luckylist li:last-of-type{
  margin-bottom: 0px;
  border-bottom:none;
}
.LuckyImg{
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 15px;
}
.LuckyImg img{
  width:100%;
  height: auto;
}
.Luckytext{
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: middle;
}
.goAgainbtn{
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #F05550;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  left:10px;
}
.winter{
  z-index: 5;
}
.winter1{
  width: 100%;
  height: auto;
  position: absolute;
  top:35%;
  left:0;
}
.winter2{
  width: 100%;
  height: auto;
  position: absolute;
  top:43%;
  left:0;
}
.winter3{
  width: 100%;
  height: auto;
  position: absolute;
  top:51%;
  left:0;

}
.musicBox{
  width:35px;
  height:35px;
  background:#fff;
  border-radius: 50%;
  position:absolute;
  top:10px;
  right:10px;
  z-index: 9999;
  text-align: center;
  line-height: 35px;
  color: #FA6481;
  animation:iconRotat 5s infinite linear;
  -moz-animation:iconRotat 5s infinite linear; /* Firefox */
  -webkit-animation:iconRotat 5s infinite linear; /* Safari and Chrome */
  -o-animation:iconRotat 5s infinite linear; /* Opera */
}
.musicBox .iconfont{
  font-size:22px;
}
.musicBox .icon-yinletingzhi24px{
  color: #C4C4C4;
}

@keyframes iconRotat {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@-moz-keyframes iconRotat {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@-webkit-keyframes iconRotat {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@-o-keyframes iconRotat {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}